
// our very epic variables

$bz-pink: #F5349A;
$bz-yellow: #FBDC2C;
$bz-blue: #2E89C7;

html,
body {
  height: 100%;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  // background-image: url(../img/bz-bg.jpg);
  background-color: #fff;
}

// logo properties :^)
.logo {
  position: absolute;
  left: 47%;
  top: 2.5%;

  img {
    height: 70px;
  }

}

.title {
    font-size: 1.7rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
  background: rgba( 251, 220, 44, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 15.0px );
  border-radius: 10px;
  padding: 50px;
  margin: 35px;
}

.color-area,
.typography-area {
  height: 100%;
  width: 50%;
  padding: 20px;

  .title {
    transition: 0.2s;
  }

  .title:hover {
    color: $bz-pink;
  }

}

// color area starts---------------------------------------------

.primary-color {
  height: 50px;
  width: 700px;
  background-color: $bz-pink;
  -webkit-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
}

.secondary-color {
  height: 50px;
  width: 500px;
  background-color: $bz-yellow;
  -webkit-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
}

.tertiary-color {
  height: 50px;
  width: 300px;
  background-color: $bz-blue;
  -webkit-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
}

.primary-color,
.secondary-color,
.tertiary-color,
.gradient {
  margin: 50px 50px 0 50px;
}

.color-title {
  font-size: 44px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.gradient {
  height: 350px;
  width: 800px;
  background-image: linear-gradient(120deg,$bz-pink,$bz-yellow);
  -webkit-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
  box-shadow: 9px 10px 34px 0px rgba(0,0,0,0.2);
}

.hex {
  font-weight: 200;
  font-size: 2rem;
}

.pink {
  color: $bz-pink;
}

.yellow {
  color: $bz-yellow;
}

.blue {
  color: $bz-blue;
}

// color area ends------------------------------------------------


 //typography area starts

.oswald1 {
  font-size: 3rem;
  text-align: left;
  color: $bz-pink;
  margin: 0 0 0 35px;
  padding: 0;

}

.oswald2 {
  margin-left: 172px;
}

.headers1 {
  margin-left: 250px;
}

.typescale1 {
  display:flex;
}
.typescale2 {
  font-size:3rem;
  color: $bz-pink;
  margin: 0 0 0 35px;
}

.one {
  font-size: 4rem;
  font-weight:400;
}
.two {
  font-size: 3.5rem;
  font-weight:400;
}
.three {
  font-size: 3rem;
  font-weight:300;
}
.four {
  font-size: 2.5rem;
  font-weight:300;
}
.five {
  font-size: 2rem;
  font-weight:300;
}
.six {
  font-size: 1.5rem;
  font-weight:200;
}

table {
  margin-left: 170px;
  margin-right:9px;

  h1 {
    line-height: 58px;
    }

    p {
      line-height: 20px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

table p {
  margin-left:180px;
}
